.dvdCover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  margin-top: 3em;
}
  
@keyframes turn {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(-30deg);}
}
  
.dvdCover {
  width: 134px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: turn 1s ease 0s 1 turn;
}
  
.dvdCover:hover {
  transform: rotateY(0deg);
}
  
@keyframes hide {
  0% {left: 0;}
  100% {left: 5px;}
} 
  
.dvdCover > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 134px;
  height: 200px;
  transform: translateZ(25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 2px 2px 10px #999;
}
  
.dvdCover::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: -60px;
  top: -2px;
  width: 19px;
  height: 204px;
  transform: translateX(176px) rotateY(90deg);
  background: linear-gradient(90deg,#000 0%,#080808 5%,#000 10%,#080808 15%,#000 20%,#080808 25%,#000 30%,#080808 35%,#000 40%,#080808 45%,#000 50%,#080808 55%,#000 60%,#080808 65%,#000 70%,#080808 75%,#000 80%,#080808 85%,#000 90%,#080808 95%,#000 100%);
}
  
.dvdCover::after {
  position: absolute;
  top: -7px;
  left: -4px;
  content: ' ';
  width: 125px;
  height: 213px;
  transform: translateZ(-25px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -5px 0px 40px 10px #ddd;
}

.dvdCover-container-lg {
  perspective: 1000px;
  margin-top: 0;
}

.dvdCover-lg, .dvdCover-lg > :first-child {
  width: 280px;
  height: 420px;
}
  
.dvdCover-lg > :first-child {
  box-shadow: 5px 5px 20px #666;
}
  
.dvdCover-lg::before {
  left: 72px;
  top: 0px;
  width: 44px;
  height: 421px;
}

#right-column {
  margin-top: 10px;
}
  
.dvdCover-lg::after {      
  top: -2px;
  left: 72px;
  width: 200px;
  height: 425px;
}

@media screen and (min-width:768px) {  
  #left-column, #right-column {
    position:sticky;
    top:110px;
  }

  #right-column {
    top:90px;
    margin-top: -80px;    
    padding-inline: 5px;
  }

  .dvdCover-container-lg {    
    perspective: 600px;
    margin-top: -60px;
  }
  
  .dvdCover-lg, .dvdCover-lg > :first-child {
    width: 134px;
    height: 200px;
  }
    
  .dvdCover-lg > :first-child {
    box-shadow: 5px 5px 20px #666;
  }
    
  .dvdCover-lg::before {
    left: -60px;
    top: -2px;
    width: 19px;
    height: 204px;
  }
    
  .dvdCover-lg::after {      
    top: -7px;
    left: -4px;  
    width: 125px;
    height: 213px;
    box-shadow: -10px 0 10px 10px #eee;
  }
}

@media screen and (min-width:1200px) {    
  .dvdCover, .dvdCover > :first-child {
    width: 200px;
    height: 300px;
  }
    
  .dvdCover > :first-child {
    box-shadow: 5px 5px 20px #666;
  }
    
  .dvdCover::before {
    left: 0px;
    top: 0px;
    width: 38px;
    height: 301px;
  }
    
  .dvdCover::after {      
    top: -4px;
    left: -5px;
    width: 200px;
    height: 308px;
  }
}
/******************************************************* voti a stelle *********************************************************/
.comp-rate {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  color: #bfbfbf;
}

.rate {
  border: none;
  outline: none;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

.rate:nth-of-type(odd)::after {
  background-position: right top;
  margin-right: 5px;
}

.rate::after {
  content: '';
  display: block;
  width: 10px;
  height: 20px; 
  transition: all .2s;
  background-repeat: no-repeat;
  background-size: 200%;
  background-image: url("data:image/svg+xml,%3Csvg t='1567649986763' class='icon' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1101' width='200' height='200'%3E%3Cpath fill='%23cccccc' d='M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z' p-id='1102'%3E%3C/path%3E%3C/svg%3E");
}

.rate:checked::after, .rate:checked~.rate::after, .rate:hover::after, .rate:hover~.rate::after, .voted::after {
  background-image: url("data:image/svg+xml,%3Csvg t='1567651793068' class='icon' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='1095' width='200' height='200'%3E%3Cpath d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z' fill='%23facf48' p-id='1096'%3E%3C/path%3E%3C/svg%3E");
}
/*********************************************************** nav **************************************************************************/
#formLogged, #formLogged2 {
  display: none;
}

.blue {
  background-color: #0c41aa;
}

.yellow {
  color: #fca72f;
}

#saluto:hover, #registrati:hover, #saluto:focus, #btnLogin:hover, #accediRespo:hover, #registratiRespo:hover {
  color:#c79650;
}

.navbar-nav {
  --bs-nav-link-hover-color: #c79650;
}

#form_login input::placeholder, #form_login input, #search_bar, .input-group-text, #search_bar::placeholder, .input-group-text .fas  {
  color:#0c41aa;
}

.input-group-text {
  border-right: none;
}

#search_bar:focus{
  transition: none;
}

.dropdown-menu:hover .dropdown-item {
  display: block;
}

.dropdown-menu, .input-group-text, #user, #password {
  border: 2px solid #fca72f;
}

.navbar {
  --bs-navbar-toggler-border-color: #ffc107;
  --bs-navbar-color: #fca72f;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='orange' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.btn.show {
  color: #ffc107
}

.formLogin input:focus {
  border: none;
}

.fa-shopping-cart {
  cursor: pointer;
}

#divider {
  border: 1px solid #fca72f;
}

#saluto, #registrati {
  padding: 8px;
  margin-left: 8px;
}

#categorieFilm li a:hover, #categorieSerie li a:hover, #formLogged li a:hover, .interactiveBtn, #divider {
  background-color: #fca72f;
  color: #0c41aa;
}

#search_bar, span.input-group-text.bg-white {
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

.nav-link { 
  padding: 0;
}

.input-group {
  border: 3px solid #fca72f;
  border-radius: 7px;
  background-color: white;
}

#respo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#respoSaluto {
  display: inline-block;
}

.barButtons, .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#categorieFilm, #categorieSerie, #menuLogin {
  position: absolute;
  left: -25px;
  margin-top: 0;
}

#categorieSerie {
  left: -50px;
}

#menuLogin {
  left: -50px;
  margin-top: 8px;  
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

input.bg-white.dropdown-item {
  width:90%;
}

@media screen and (min-width:768px) {
  #navbarSupportedContent {
    flex-basis:content;
  }

  .barButtons {
    width: 100%;
  }

  #categorieFilm {
    left: -55px;
    margin-top: 5px;
  }
  
  #categorieSerie {
    left: -40px;
    margin-top: 5px;
  }

  #menuLogin {    
    margin-top: 17px;
  }
}
/******************************************************* search.html *************************************************************************/

#mobileSearchMenu p {
  font-size: 14px;
}

.fa-angle-down {
  font-size: 12px;
}

.offcanvas.rounded-top {
  --bs-border-radius: 10px;
}

.offcanvas-header button {
  color:teal;
}

#mobileSearch {
  outline: none;
  width: 90%;
}

.accordion-button {
  --bs-accordion-btn-icon-width: 12px;
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
    font-weight: 500;
    font-size: 15px;
}

label[for="multi"], label[for="movie"], label[for="tv"]  {
  background-color: #e4e4e4;
  font-weight: normal;
  width: 40px;
}

label[for="adventure"], label[for="animation"], label[for="comedy"], label[for="crime"], label[for="documentary"], label[for="drama"], label[for="family"], label[for="fantasy"], label[for="mistery"]  {
  background-color: #e4e4e4;
  font-weight: normal;
  padding-inline:10px;
}

#multi:checked ~ label[for="multi"], #movie:checked ~ label[for="movie"], #tv:checked ~ label[for="tv"], #adventure:checked ~ label[for="adventure"], #animation:checked ~ label[for="animation"], #comedy:checked ~ label[for="comedy"], #crime:checked ~ label[for="crime"], #documentary:checked ~ label[for="documentary"], #drama:checked ~ label[for="drama"], #family:checked ~ label[for="family"], #fantasy:checked ~ label[for="fantasy"], #mistery:checked ~ label[for="mistery"] {
  background-color: #c4e5f0;
  border: 1px solid rgb(140, 243, 243);
  color: teal;
} 

/******************************************************** item.html *************************************************************************/

.tip {
  --bs-tooltip-bg: #f4f4f4;
  --bs-tooltip-color: black;
  text-shadow: 1px 0px  #333;
  --bs-tooltip-opacity:1;
}

.tool {  
  --bs-btn-font-size: 1rem;
}

#details {
  display:inline!important;
  cursor: pointer;
}

div.radios > label {
  width: 80px;
  height: 60px;
  margin-inline: 8px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

#blu-ray:checked ~ label[for="blu-ray"], #dvd:checked ~ label[for="dvd"], #d3D:checked ~ label[for="d3D"], #d4K:checked ~ label[for="d4K"] {
  border: 5px solid teal;
  font-weight: 700;
  background-color:#c4e5f0;  
}

#blu-ray:checked ~ label[for="blu-ray"] > span, #dvd:checked ~ label[for="dvd"] > span, #d3D:checked ~ label[for="d3D"] > span, #d4K:checked ~ label[for="d4K"] > span {
  color:brown;
}

#title {
  font-weight:700;
}

sup {
  font-size: 12px;
  top: -0.8em;
}

#tagline {
  color: #333;
  font-style: italic;
}

.price {
  font-size: 28px;
}

#quantity {
  width: 60px;
}

#addToCart, #buyNow {
  border-radius: 50px;
}

#addToCart:active, #buyNow:active {
  transform: scale(0.95);
}

#buyNow {
  background-color:darkorange;
}

#trailer {
  height: calc(90vw/1.77);
}

#bonus18 {
  width: 10%;
}
@media screen and (min-width:768px) {
  div.d-flex.flex-nowrap.flex-column.flex-md-row {
    --bs-gutter-x: 0;
  }
  
  #right-column {
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  hr.d-none.d-md-block {
    margin-top: 32px;
  }

  #trailer {    
    height: calc(45vw/1.77);
  }

  #bonus18 {
    width: 25%;
  }

  #overview, #review {
    padding-right: 10px;
  }
}

div.container-carousel:before, div.container-carousel:after {
	box-sizing: border-box;
}
	
div.container-carousel{
	margin: 10px auto 30px;
	width: 100px;
	height: 150px;
	position: relative;
	perspective: 1000px;
}

#carousel{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}

#carousel:hover{
	animation-play-state: paused;
}

#carousel figure{
	display: block;
	position: absolute;
	width: 100px;
	height: 150px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px black;
}

#carousel figure:nth-child(1) { transform: rotateY(0deg) translateZ(180px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(180px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(180px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(180px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(180px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(180px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(180px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(180px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(180px);}

div.container-carousel img{ 
  width: 100px; 
  height: 150px;
	cursor: pointer;
	transition: all .5s ease;
}

div.container-carousel img:hover{
    filter:grayscale(0);
	  -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

/******************************************************** registration.html *************************************************************************/
#main_registrazione {
  background-image: url(/assets/img/pattern.jpg);
}

#form label, #form input {
  color: #0c41aa;
}
#form {
  background-color: #fca72f;
  margin-block: 24px;
}

#menu_drop img {
  width: 30px;
}
#menu_drop ul {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  margin-top: 8px;
  margin-bottom: -10px;
}

#menu_drop ul::-webkit-scrollbar {
  display: none;
}

#menu_drop li {
  list-style: none;
}
.avatar1, .hideTooltip {
  display: none;
}

.mostra {
  display: block;
  height: 80px;
}

.showTooltip {
  display: initial;
}

#registrati:focus {
background-color: #01060f;
}

/* animazione avatar e rimozione radio button */
.avatar {
  cursor: pointer;
}

.avatar:active {
    transform: translateY(4px);
}

input.radio_avatar[type="radio"]{
    visibility:hidden;
}

@media screen and (min-width: 768px){
  #div_form {
    width: 516px;
    margin: 0 auto;
  }    
}
@media screen and (min-width: 1200px){
  #div_form {
    width: 596px;
    margin: 0 auto;
  }    
}

/******************************************************** cart.html *************************************************************************/

#footer {
  position:fixed;
  bottom:0px;
  width:100%;
  z-index: 1031;
}

#spessoreCarrello, #footer {
  height: 40px;
}

#footerStyle, #barraPagamento a {
  background-color: #0c41aa;
}

#barraPagamento a {
  color: #ffc107;
}
/********************** MEDIA QUERY **********************/

@media screen and (min-width: 992px) {
  #correlatiCarrello {
    height: auto;
  }
  #spessoreCarrello {
    display: none;
  }
}

/*******************************************home****************************************************************/
#homeBody {
  background-image: url(../img/pattern.jpg);  
}

.layout {
  padding-block: 28px 40px;
}

.bg-box {
  display: flex;  
}

.bg-box:nth-of-type(2), .bg-box:nth-of-type(3) {
  margin-top: -1px;
}

.bg-box img, #home-page { 
  background-size: cover;  
}

.bg-box img, #home-page, .poster, #footer {
  width: 100%;
} 

.carousel-inner, .carousel-inner .item, .carousel-left, .carousel-right, .carousel-left:before, .carousel-right:before, .poster  {
  height: 100%;
}

#curtains {
  position:absolute;
  pointer-events: none;
  z-index: 1;
}

#home-page h2 {
  margin: -420px auto 0 auto;
  position:absolute;
  right:50%;
  transform: translateX(50%);
  z-index: 3;
  text-align: center;
  font-size: 20px;
}

.carousel-wrapper {
  margin-top: -390px;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  position: relative;
  padding: 0 0 0 50px;
  margin: 0;
  transition: all 1s;
}

.carousel-inner .item {
  float: left;
  list-style: none;
  padding: 0;  
  margin: 0 50px 0 0;  
}

.carousel-left, .carousel-right, .carousel-left:before, .carousel-right:before {
  width: 30px;
  position: absolute;
  top: 0;  
}

.carousel-left:before, .carousel-right:before {
  content: "";
  background: #666;
  opacity: 0.5;
}

.carousel-left:hover:before, .carousel-right:hover:before {
  opacity: 0.8;
}

.carousel-left, .carousel-left:before, .carousel-inner {
  left: 0;
}

.carousel-right, .carousel-right:before {
  right: 0;
}

.carousel-wrapper {  
  padding: 30px 0;
}

.carousel-inner .item {
  font-size: 1.2em;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px 0 #333;
}

.carousel-inner .item:hover {
  background: #fff;
  box-shadow: 1px 1px 3px 2px #333;
}

.carousel-left:before, .carousel-right:before {
  background: url(../img/arrows.png) no-repeat;
  width:50px;
  z-index:2;
}

.carousel-left:before {
  background-position: -20% center;
}

.carousel-right:before {
  background-position: -40px center;
}

.poster {  
  border: 2px solid black;
}

#footer {
  position:fixed;
  bottom:0px;
  height:40px;
}

@media screen and (min-width:450px) {
  .carousel-wrapper {
    margin-top: -520px;
  }

  #home-page h2 {
    margin-top: -535px;
  }
}

@media screen and (min-width:576px) {
  .carousel-wrapper {
    margin-top: -635px;
  }

  #home-page h2 {
    margin-top: -660px;
    font-size: 24px;
  }
}

@media screen and (min-width:768px) {
  .carousel-wrapper {
    margin-top: -830px;
  }

  #home-page h2 {
    margin-top: -885px;
    font-size: 30px;
  }
}

@media screen and (min-width:992px) {
  .carousel-wrapper {
    margin-top: -1100px;
  }

  #home-page h2 {
    margin-top: -1160px;
  }
}

@media screen and (min-width:1200px) {
  #home-page {
    margin-inline: auto;
  }  

  #home-page, #curtains {
    max-width:1250px;
  }

  .carousel-wrapper {
    margin-top: -740px;
  }

  #home-page h2 {
    margin-top: -820px;
    font-size: 36px;
  }  

  .bg-box:nth-of-type(2), .bg-box:nth-of-type(3) {
    margin-top: -300px;
  }
}